.Ticketmain_ticket1{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    margin-top: 2px;
    border-radius: 2px;
}
.Ticketticket1{
    width: 100%;
    height: auto;
 
    display: flex;
    justify-content: center;
    align-items: center;
}
.Ticketticket11{
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    border-radius: 100px;
    background-image: url('https://cdn.prod.website-files.com/687f5648b07a8b67bf809294/688496734d2ec455ce583e1e_Vector%20(1).svg') ;

    background-color: #9447e2;

   
}
.Ticketprice1{
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
   
}
.Ticketprice1 h1{
    color: #FBDA7A;
    font-size: 75px;
    font-family: sans-serif;
}
.Ticketprice1 h3{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    color: #ffffff;
    margin-bottom: 7px;
}
.Ticketprice1 .r1{
        color: #bc8ae1;
}
.Ticketsummitra_tickets1{
    flex-wrap: wrap;
    width: 100%;
    border-radius: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: url('https://cdn.prod.website-files.com/687f5648b07a8b67bf809294/688496734d2ec455ce583e1e_Vector%20(1).svg') ;
   

}


